<template>
	<main v-if="!loading" class="pl-20 pr-20">
		<DataTitle :text="title" :dataDate="summary.dataDate" />
		<CountrySelect
			@get-country="getCountryData"
			:countries="summary.countries"
		/>
		<DataBoxes :stats="summary.stats" />

		<button
			@click="resetCountry()"
			v-if="summary.stats.Country"
			class="bg-blue-700 p-3 text-white w-full rounded focused:outline-none hover:bg-blue-600 mt-5"
		>
			Clear country
		</button>
	</main>
	<main class="flex flex-col justify-center align-center text-center" v-else>
		<div
			class="loader ease-linear rounded-full border-2 border-t-2 border-gray-200 h-8 w-8 md:h-10 md:w-10"
		></div>
	</main>
</template>

<script>
import DataTitle from "@/components/DataTitle";
import DataBoxes from "@/components/DataBoxes";
import CountrySelect from "@/components/CountrySelect";
import { getData } from "@/services/fetchData/fetchData";

export default {
	name: "Home",
	components: {
		DataTitle,
		DataBoxes,
		CountrySelect,
	},
	data() {
		return {
			loading: true,
			title: "Global",
			summary: {},
		};
	},
	async created() {
		const data = await new getData().fetchSummary();
		this.summary = { ...data };
		this.loading = false;
	},

	methods: {
		getCountryData(country) {
			this.title = country.Country;
			this.summary.stats = country;
		},

		async resetCountry() {
			this.loading = true;
			const data = await new getData().fetchSummary();
			this.summary = { ...data };
			this.loading = false;
			this.loading = false;
		},
	},
};
</script>

<style scoped>
.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
	align-self: center;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
</style>
