<template>
	<div class="grid md:grid-cols-2 gap-4 mb-10">
		<!-- BOX 1 -->
		<div class="shadow-md bg-blue-100 p-10 text-center rounded">
			<div class="text-5xl"><i class="fas fa-lungs-virus"></i></div>
			<h3 class="text-3xl text-blue-900 mb-4 font-bold">Cases</h3>
			<div class="mb-4">
				<p class="text-lg">
					<span class="font-bold">New:</span>
					{{ stats.NewConfirmed }}
				</p>
			</div>
			<div class="mb-4">
				<p class="text-lg">
					<span class="font-bold">Total:</span>
					{{ stats.TotalConfirmed }}
				</p>
			</div>
		</div>
		<!-- BOX 2 -->
		<div class="shadow-md bg-blue-100 p-10 text-center rounded">
			<div class="text-5xl"><i class="fas fa-hospital"></i></div>

			<h3 class="text-3xl text-blue-900 mb-4 font-bold">Deaths</h3>
			<div class="mb-4">
				<p class="text-lg">
					<span class="font-bold">New:</span>
					{{ stats.NewDeaths }}
				</p>
			</div>
			<div class="mb-4">
				<p class="text-lg">
					<span class="font-bold">Total:</span>
					{{ stats.TotalDeaths }}
				</p>
			</div>
		</div>
		<!-- BOX 3 -->
		<div class="shadow-md bg-blue-100 p-10 text-center rounded">
			<div class="text-5xl"><i class="fas fa-hospital"></i></div>

			<h3 class="text-3xl text-blue-900 mb-4 font-bold">Deaths</h3>
			<div class="mb-4">
				<p class="text-lg">
					<span class="font-bold">New:</span>
					{{ stats.NewDeaths }}
				</p>
			</div>
			<div class="mb-4">
				<p class="text-lg">
					<span class="font-bold">Total:</span>
					{{ stats.TotalDeaths }}
				</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "DataBoxes",
	props: ["stats"],
};
</script>
