<template>
	<div class="text-center">
		<h2 class="text-3xl font-bold">{{ text }}</h2>
		<h3 class="mt-1 mb-5">{{ dataDate }}</h3>
	</div>
</template>

<script>
export default {
	name: "DataTitle",
	props: ["text", "dataDate"],
};
</script>
