<template>
	<header class="text-center text-white bg-blue-800 p-4 mb-10">
		<div class="text-3xl font-bold md:text-3xl mb-2">
			<i class="fa fa-viruses"></i> Covid-19 Tracker
		</div>
		<p>
			API by:
			<a class="text-blue-300" target="_blank" href="https://covid19api.com"
				>covid19api.com</a
			>
		</p>
	</header>
</template>

<script>
export default {
	name: "Header",
};
</script>
